@model IEnumerable<Overtime.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.u_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.u_password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.u_role_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.u_dep_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.u_active_yn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.u_cre_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.u_cre_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.u_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.u_password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.u_role_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.u_dep_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.u_active_yn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.u_cre_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.u_cre_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.u_id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.u_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
