@model IEnumerable<Overtime.Models.OverTimeRequest>

@{
    ViewData["Title"] = "Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Approval</h2>
@if (@TempData["errorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong>  <a href="#" class="alert-link">@TempData["errorMessage"]</a>.
    </div>
}


<table class="table  table-responsive text-nowrap" id="mytable" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.rq_cre_for_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.rq_dep_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_dep_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_start_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_end_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_no_of_hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_remarks)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.rq_cre_by_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_cre_date)
            </th>
            <th>Hold Details</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.rq_end_time != null)
            {
                DateTime end = (DateTime)item.rq_end_time;
                DateTime now = (DateTime)item.rq_start_time;
                TimeSpan diff = end.Subtract(now);

                if (item.rq_hold_yn == "Y")
                {


                    <tr style="background-color:#fc6f65">

                        <td>
                            <form asp-action="Reject">
                                <input asp-for="@item.rq_id" type="hidden" name="id" class="form-control" value="@item.rq_id" />
                                <input type="submit" value="Reject" class="btn btn-danger" />
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_cre_for_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_dep_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_dep_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_start_time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_end_time)
                        </td>
                        <td>
                            @diff.ToString(@"dd\:hh\:mm\:ss")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_remarks)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.rq_cre_by_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_cre_date)
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" onclick="holdHistory(@item.rq_id
                                                              ,@item.rq_doc_id,'Approve')">
                                View
                            </button>
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-from="Approval" class="btn btn-info" asp-route-id="@item.rq_id">Edit</a>
                        </td>

                        <td>
                        </td>


                    </tr>
                }
                else
                {

                    <tr>

                        <td>
                            <form asp-action="Reject">
                                <input asp-for="@item.rq_id" type="hidden" name="id" class="form-control" value="@item.rq_id" />
                                <input type="submit" value="Reject" class="btn btn-danger" />
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_cre_for_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_dep_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_dep_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_start_time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_end_time)
                        </td>
                        <td>
                            @diff.ToString(@"dd\:hh\:mm\:ss")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_remarks)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.rq_cre_by_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rq_cre_date)
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" onclick="holdHistory(@item.rq_id
                                                              ,@item.rq_doc_id)">
                                View
                            </button>
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-from="Approval" class="btn btn-info" asp-route-id="@item.rq_id">Edit</a>
                        </td>

                        <td>
                            <form asp-action="Approve" id="form1">
                                <input asp-for="@item.rq_id" type="hidden" name="id" class="form-control" value="@item.rq_id" />
                                <input type="hidden" name="from" class="form-control" value="Approval" />
                                <input type="submit" value="Approve" class="btn btn-success" />
                            </form>
                        </td>


                    </tr>
                }
            }
        }
    </tbody>
</table>

