@model IEnumerable<Overtime.Models.OverTimeRequest>

@{
    ViewData["Title"] = "Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Approval</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.rq_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_dep_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_start_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_no_of_hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_cre_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_cre_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
                <td>
                    <form asp-action="Reject">
                        <input asp-for="@item.rq_id" type="hidden" name="id" class="form-control" value="@item.rq_id" />
                        <input type="submit" value="Reject" class="btn btn-primary" />
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rq_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rq_dep_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rq_start_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rq_no_of_hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rq_remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rq_active_yn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rq_cre_by)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rq_cre_date)
                </td>
                <td>
                    <form asp-action="Send">
                        <input asp-for="@item.rq_id" type="hidden" name="id" class="form-control" value="@item.rq_id" />
                        <input  type="hidden" name="from" class="form-control" value="Approval" />
                        <input type="submit" value="Send" class="btn btn-primary" />
                    </form>
                </td>
            

        </tr>
}
    </tbody>
</table>
