@model IEnumerable<Overtime.Models.OvCustomModel>

@{
    Layout = null;
}

<table class="table table-responsive" id="mytable">
    <thead>
        <tr>
            <th name="emp">
                @Html.DisplayNameFor(model => model.emp_id)
            </th>
            <th name="emp">
                @Html.DisplayNameFor(model => model.emp_name)
            </th>
            <th name="emp">
                @Html.DisplayNameFor(model => model.emp_full_name)
            </th>
            <th name="dep">
                @Html.DisplayNameFor(model => model.emp_dep_id)
            </th>
            <th name="dep">
                @Html.DisplayNameFor(model => model.emp_dep_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work_hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_unapproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_total)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td name="emp">
                @Html.DisplayFor(modelItem => item.emp_id)
            </td>
            <td name="emp">
                @Html.DisplayFor(modelItem => item.emp_name)
            </td>
            <td name="emp">
                @Html.DisplayFor(modelItem => item.emp_full_name)
            </td>
            <td  name="dep">
                @Html.DisplayFor(modelItem => item.emp_dep_id)
            </td>
            <td  name="dep">
                @Html.DisplayFor(modelItem => item.emp_dep_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work_hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_unapproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_total)
            </td>
           
        </tr>
}
    </tbody>
</table>
