@model IEnumerable<Overtime.Models.OvCustomModel>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <table class="table table-striped" id="mytable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.emp_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emp_full_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emp_dep_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.work_hours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emp_unapproved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emp_total)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td> @Html.DisplayFor(modelitem => item.emp_name)</td>
                <td> @Html.DisplayFor(modelitem => item.emp_full_name)</td>
                <td> @Html.DisplayFor(modelitem => item.emp_dep_name)</td>
                <td> @Html.DisplayFor(modelitem => item.work_hours)</td>
                <td> @Html.DisplayFor(modelitem => item.emp_unapproved)</td>
                <td> @Html.DisplayFor(modelitem => item.emp_total)</td>
            </tr>
            }
        </tbody>
        </table>
</body>
</html>