@model IEnumerable<Overtime.Models.OverTimeRequest>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomReport</title>
</head>
<body>

<table class="table table-striped table-bordered dt-responsive nowrap" id="mytable"  style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rq_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_dep_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_start_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_no_of_hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_active_yn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_cre_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rq_cre_date)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.rq_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rq_dep_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rq_start_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rq_no_of_hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rq_remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rq_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rq_active_yn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rq_cre_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rq_cre_date)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
