@model IEnumerable<Overtime.Models.OverTimeRequest>

@{
    ViewData["Title"] = "LiveMonitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
       <h3>Live View</h2>
    </div>
</div>
<div class="container-fluid" id="liveMonitoring">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table  table-responsive text-nowrap" id="mytable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.rq_id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.rq_cre_for_emp_id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.rq_cre_for_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.rq_description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.rq_dep_description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.rq_start_time)
                                </th>
                                <th>
                                    Overtime
                                </th>
                               
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.rq_cre_date)
                                </th>
                                <th>
                                    Hold History
                                </th>
                                <th>

                                </th>

                            </tr>
                        </thead>
                        <tbody id="mon_row">
                            @foreach (var item in Model)
                            {
                                if (item.rq_hold_yn == "Y")
                                {
                            <tr class="a" style="background-color:#fc6f65">
                                <td>
                                    <input type="hidden" class="b" value="@Html.DisplayFor(modelItem => item.rq_id)" />
                                    @Html.DisplayFor(modelItem => item.rq_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rq_cre_for_emp_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rq_cre_for_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rq_description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rq_dep_description)
                                </td>
                                <td>
                                    <input type="hidden" name="starttime" id="@string.Format("starttime{0}", @item.rq_id)" value="@Html.DisplayFor(modelItem => item.rq_start_time)" />
                                    @Html.DisplayFor(modelItem => item.rq_start_time)
                                </td>
                                <td>
                                    <label type="text" align="right" name="Duration" id="@string.Format("Duration{0}", @item.rq_id)" />

                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.rq_cre_date)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success" onclick="holdHistory(@item.rq_id
                                                              ,@item.rq_doc_id)">
                                        View
                                    </button>
                                </td>
                                @if (@item.rq_hold_yn == "Y")
                                {
                                    <td>
                                        <form asp-action="UnHold" id="@string.Format("unhold{0}", @item.rq_id)">
                                            <input asp-for="@item.rq_id" type="hidden" name="id" class="form-control" value="@item.rq_id" />
                                            <input type="hidden" class="form-control" name="reason" id="@string.Format("reason{0}", @item.rq_id)" value="" />
                                            <button type="button" class="btn btn-danger" onclick="unhold(@item.rq_id);">Unblock</button>
                                        </form>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <form asp-action="Hold" id="@string.Format("hold{0}", @item.rq_id)">
                                            <input asp-for="@item.rq_id" type="hidden" name="id" class="form-control" value="@item.rq_id" />
                                            <input type="hidden" class="form-control" name="reason" id="@string.Format("reason{0}", @item.rq_id)" value="" />
                                            <button type="button" class="btn btn-danger" onclick="hold(@item.rq_id);">Block</button>
                                        </form>
                                    </td>
                                }
                            </tr>
                                }
                                else
                                {
                        <tr class="a">
                            <td>
                                <input type="hidden" class="b" value="@Html.DisplayFor(modelItem => item.rq_id)" />
                                @Html.DisplayFor(modelItem => item.rq_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rq_cre_for_emp_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rq_cre_for_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rq_description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rq_dep_description)
                            </td>
                            <td>
                                <input type="hidden" name="starttime"
                                       id="@string.Format("starttime{0}", @item.rq_id)" value="@Html.DisplayFor(modelItem => item.rq_start_time)" />
                                @Html.DisplayFor(modelItem => item.rq_start_time)
                            </td>
                            <td>
                                <label type="text" align="right" name="Duration" id="@string.Format("Duration{0}", @item.rq_id)" />
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.rq_cre_date)
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="holdHistory(@item.rq_id
                                                              ,@item.rq_doc_id,'View')">
                                    View
                                </button>
                            </td>
                            @if (@item.rq_hold_yn == "Y")
                            {
                                <td>
                                    <form asp-action="UnHold" id="@string.Format("unhold{0}", @item.rq_id)">
                                        <input asp-for="@item.rq_id" type="hidden" name="id" class="form-control" value="@item.rq_id" />
                                        <input type="hidden" class="form-control" name="reason" id="@string.Format("reason{0}", @item.rq_id)" value="" />
                                        <button type="button" class="btn btn-danger" onclick="unhold(@item.rq_id);">Unblock</button>
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <form asp-action="Hold" id="@string.Format("hold{0}", @item.rq_id)">
                                        <input asp-for="@item.rq_id" type="hidden" name="id" class="form-control" value="@item.rq_id" />
                                        <input type="hidden" class="form-control" name="reason" id="@string.Format("reason{0}", @item.rq_id)" value="" />
                                        <button type="button" class="btn btn-danger" onclick="hold(@item.rq_id);">Block</button>
                                    </form>
                                </td>
                            }



                        </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h3>All Holds</h3>
    </div>
</div>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table id="table2" class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.rq_id)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.rq_description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rq_dep_description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rq_start_time)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rq_end_time)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rq_no_of_hours)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rq_remarks)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rq_cre_by_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rq_cre_date)
                            </th>
                            <th>
                                Hold Histoy
                            </th>
                            <th class="all">
                                Approval History
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.AllHoldDocuments)
                        {
                            DateTime end = (DateTime)item.rq_end_time;
                            DateTime now = (DateTime)item.rq_start_time;
                            TimeSpan diff = end.Subtract(now);
                        <tr>
                            <td>
                                @item.rq_id
                            </td>

                            <td>
                                @item.rq_description
                            </td>
                            <td>
                                @item.rq_dep_description
                            </td>
                            <td>
                                @item.rq_start_time
                            </td>
                            <td>
                                @item.rq_end_time
                            </td>
                            <td>
                                @diff.ToString(@"dd\:hh\:mm\:ss")
                            </td>
                            <td>
                                @item.rq_remarks
                            </td>
                            <td>
                                @item.rq_cre_by_name
                            </td>
                            <td>
                                @item.rq_cre_date
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="holdHistory(@item.rq_id
                                                              ,@item.rq_doc_id)">
                                    View
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="workflowHistory(@item.rq_id
                                                              ,@item.rq_doc_id,
                                                               @item.rq_workflow_id,
                                                               @item.rq_status)">
                                    View
                                </button>
                            </td>
                            @if (@item.rq_hold_yn == "Y")
                            {
                                <td>
                                    <form asp-action="UnHold">
                                        <input  type="hidden" name="id" class="form-control" value="@item.rq_id" />
                                        <input type="submit" value="UnHold" class="btn btn-danger" />
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <form asp-action="Hold">
                                        <input type="hidden" name="id" class="form-control" value="@item.rq_id" />
                                        <input type="submit" value="Hold" class="btn btn-danger" />
                                    </form>
                                </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>