@model IEnumerable<Overtime.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.r_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.r_active_yn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.r_cre_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.r_cre_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.r_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.r_active_yn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.r_cre_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.r_cre_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.r_id">Edit</a> 
               <a asp-action="Delete" asp-route-id="@item.r_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
